.hero{
    background-color: white;
    margin:16px 16px;
    height: 92dvh;
    max-width: 1440px;
    border-radius: 24px;
    overflow: hidden;
}
.hero--main{
    display: inline;
}
.hero--main > span{
    font-family: var(--ff-black);
    font-size: 472px;
    line-height: 90%;
    color: hsl(0, 100%, 60%);
}

@media (min-width: 1464px) {
    .hero{
        margin: 16px auto;
    }
}