.hero{
    background-color: white;
    margin:16px 16px;
    max-width: 1600px;
    border-radius: 24px;
    overflow: hidden;
    height: fit-content;
}
.hero--mainContainer{
    height: fit-content;
    margin-top: 16px;
    display: flex;
    flex-direction: column;

    gap: 16px;
    height: 100%;
    justify-content: center;
    padding: 0 24px;
}
.hero--upper{
    display: flex;
    gap: 16px;
    max-height: 328px;
}
.hero--upper > span{
    font-size: 34vw;
    line-height: 86%;
    height: 23vw;
}
.hero__upper--rightSection{
    padding: 4px 0 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.hero__upper--videoContainer{
    display: flex;
    gap: 12px;
    max-height: fit-content;
}
.hero__upper--videoContainer > span{
    font-size: 1.7vw;
    line-height: 94%;
    text-align: left;
    margin-top: 6px;
    max-width: 96px;
}
.hero__upper--textLink{
    align-self: end;
    font-size: 1.8vw;
    text-decoration: underline;
    line-height: 94%;
}
.hero--lower{
    font-size: 16.4vw;
    line-height: 86%;
}


@media (min-width: 1464px) {
    .hero--upper{
        max-height: 380px;
    }
    .hero--upper > span{
        font-size: 564px;
    }
    .hero{
        margin: 16px auto;
    }
    .hero--lower{
        font-size: 248px;
    }
    .hero__upper--videoContainer > span{
        font-size: 18px;
    }
    .hero__upper--textLink{
        font-size: 24px;
    }

}
@media (max-width: 904px) and (min-width:678px) {
    .hero__upper--videoContainer{
        flex-direction: column;
    }
}
@media (max-width: 1028px) {
    .hero{
        height: 80vh;
    }
    .hero--main{
        height: 100%;
        justify-content: center;
        padding-bottom: 48px;
    }
    .hero--upper{
        margin-bottom: 12px;
    }
    .hero__upper--textLink{
        font-size: 16px;
    }
    video{
        width: 96px;
        height: 54px;
    }
    .hero--main{
        margin-top: 4px;
    }
    .hero__upper--rightSection{
        padding-bottom: 0;
    }
    .hero--lower{
        font-size: 15vw;
    }
}

@media (max-width: 678px) {
    .hero--mainContainer{
        gap: 0;
    }
    .hero--upper > span {
        font-size: 36vw;
    }
    .hero__upper--videoContainer > span{
        max-width: 72px;
        font-size: 14px;
    }

    .hero__upper--rightSection{
        flex-direction: row;
    }

    .hero--upper{
        gap: 12px;
        flex-direction: column;
    }
    .hero--lower{
        font-size: 14.6vw;
    }
    .hero__upper--textLink{
        font-size: 2.4vw;
    }
}

@media (max-width: 404px) {
    .hero--lower{
        font-size: 13.7vw;
    }
}
