.name--container{
    width: 100%;
    padding: 0 5vw;
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    color: white;
    max-width: 1600px;
}
.name--container > span {
    font-size: 112px;
}

.name--middle{
    display: flex;
}

.name--middle > span{
    font-size: 112px;
}
.name--inner{
    display: flex;
    flex-direction: column;
}
.name--inner span:first-child{
    font-size: 16px;
}

.name--inner span:last-child{
    font-size: 50px;
}