@import url("./header.css");
@import url("./hero.css");
@import url("./animatedCSS/hamburger.css");
@import url("./name.css");
@import url("./overview.css");
@import url("./introToProjects.css");

@font-face {
    font-family: biogem--black;
    src: url(../fonts/biogem--black.woff2);
}
@font-face {
    font-family: biogem--regular;
    src: url(../fonts/biogem--regular.woff2);
}


:root{

    --clr-neutral-800: hsl(0, 0%, 15%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-accent-400: hsl(0, 100%, 60%);

    --ff-regular: biogem--regular;
    --ff-black: biogem--black;

    --reboot-line-height: 86%;

}


/* Utility CLasses */
.reboot-line-height{
  line-height: var(--reboot-line-height);
}
.txt-accent-400{
  color: var(--clr-accent-400);
}
.txt-neutral-800{
  color: var(--clr-neutral-800);
}
.font-regular{
  font-family: var(--ff-regular);
}

.font-bold{
  font-family: var(--ff-black);
}



*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;

  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: black;
    font-family: var(--ff-regular);
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  #root, #__next {
    isolation: isolate;
  }

  button{
    background: none;
    border: none;
  }